main {
    #brands {
        background-color: #7a7575;

        .item {
            img {
                filter: grayscale(100%);

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }

        .owl-stage {
            display: flex;
            align-items: center;
        }
    }
}