    .modal {
        #staticBackdropLabel {
            i {
                padding-right: 10px;
            }
        }
        .modal-header {
            h5 {
                color: #F1A634;
                font-family: "Poppins", sans-serif;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }