#shop {
    #filter-products {
        font-family: "Poppins", sans-serif;
        margin-top: 150px;

        .filter-small {
            .filterBtn {
                display: flex;
                align-items: center;
                background-color: #F1A634;
                border: none;

                i {
                    font-size: 25px;
                    color: #000000;
                }
            }
        }

        .filter-big {
            .header {
                h2 {
                    font-size: 30px;
                    font-weight: 500;
                }
            }

            .filter-options {
                margin-top: 15px;


                .category-filter {
                    margin-top: 10px;

                    .title {
                        border-bottom: 1px solid #F1A634;

                        h2 {
                            font-size: 25px;
                            color: #F1A634;
                            font-weight: 400;
                        }
                    }

                    .category-list {
                        ul {
                            li {
                                margin: 5px 0px;

                                a {
                                    color: #000000;
                                    font-size: 22px;
                                    transition: all .5s ease;

                                    &:hover {
                                        color: #F1A634;
                                    }
                                }
                            }
                        }
                    }
                }

                .brand-filter {
                    margin-top: 10px;

                    .title {
                        border-bottom: 1px solid #F1A634;

                        h2 {
                            font-size: 25px;
                            color: #F1A634;
                            font-weight: 400;
                        }
                    }

                    .brand-list {
                        ul {
                            li {
                                margin: 5px 0px;

                                a {
                                    color: #000000;
                                    font-size: 22px;
                                    transition: all .5s ease;

                                    &:hover {
                                        color: #F1A634;
                                    }
                                }
                            }
                        }
                    }
                }

                .color-filter {
                    margin-top: 10px;

                    .title {
                        border-bottom: 1px solid #F1A634;

                        h2 {
                            font-size: 20px;
                            color: #F1A634;
                            font-weight: 400;
                        }
                    }

                    .color-list {
                        ul {
                            li {
                                a {
                                    display: flex;
                                    align-items: center;
                                    font-size: 22px;
                                    color: #000000;
                                    transition: all .5s ease;

                                    &:hover {
                                        color: #F1A634;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .filter-small {
            display: flex;

            .header {
                h2 {
                    font-size: 25px;
                    font-weight: 500;
                }
            }

            .filter-options {
                margin-top: 15px;


                .category-filter {
                    margin-top: 10px;

                    .title {
                        border-bottom: 1px solid #F1A634;

                        h2 {
                            font-size: 20px;
                            color: #F1A634;
                            font-weight: 400;
                        }
                    }

                    .category-list {
                        ul {
                            li {
                                margin: 5px 0px;

                                a {
                                    color: #000000;
                                    font-size: 18px;
                                    transition: all .5s ease;

                                    &:hover {
                                        color: #F1A634;
                                    }
                                }
                            }
                        }
                    }
                }

                .brand-filter {
                    margin-top: 10px;

                    .title {
                        border-bottom: 1px solid #F1A634;

                        h2 {
                            font-size: 20px;
                            color: #F1A634;
                            font-weight: 400;
                        }
                    }

                    .brand-list {
                        ul {
                            li {
                                margin: 5px 0px;

                                a {
                                    color: #000000;
                                    font-size: 18px;
                                    transition: all .5s ease;

                                    &:hover {
                                        color: #F1A634;
                                    }
                                }
                            }
                        }
                    }
                }

                .color-filter {
                    margin-top: 10px;

                    .title {
                        border-bottom: 1px solid #F1A634;

                        h2 {
                            font-size: 20px;
                            color: #F1A634;
                            font-weight: 400;
                        }
                    }

                    .color-list {
                        ul {
                            li {
                                a {
                                    display: flex;
                                    align-items: center;
                                    font-size: 18px;
                                    color: #000000;
                                    transition: all .5s ease;

                                    &:hover {
                                        color: #F1A634;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .item {
            display: flex;
            justify-content: center;

            .product {
                position: relative;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                border-radius: 0.5rem;
                margin: 10px 0px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    transition: all .5s ease;
                }

                .product-info {
                    width: 100%;
                    height: 100%;
                    color: #F1A634;
                    border-radius: 0.5rem;
                    background-color: rgba($color: #000000, $alpha: 0.7);
                    position: absolute;
                    top: 0px;
                    z-index: 999;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    align-items: center;
                    opacity: 0;
                    transition: all .3s ease;

                    .name {
                        margin-bottom: 20px;

                        h3 {
                            font-family: "Poppins", sans-serif;
                            font-size: 30px;
                            font-weight: 500;
                        }
                    }

                    .model {
                        margin-bottom: 30px;
                        text-align: center;

                        h4 {
                            font-size: 15px;
                            font-family: "Poppins", sans-serif;
                            padding: 0px 10px;

                        }
                    }

                    .btns {
                        margin-bottom: 20px;

                        ul {
                            li {
                                background-color: #FFFFFF;
                                border-radius: 50%;
                                width: 30px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 0;
                                margin: 0px 5px;
                                transition: all .5s ease;

                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-decoration: none;
                                    padding: 0;

                                    i {
                                        font-size: 18px;
                                        padding: 0;
                                        color: #F1A634;
                                        transition: all .5s ease;
                                    }
                                }

                                &:hover {
                                    background-color: #F1A634;

                                    a {
                                        i {
                                            color: #000000;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .price {
                        display: flex;
                        justify-content: space-around;
                        font-family: "Poppins", sans-serif;
                        margin-bottom: 20px;

                        .sale-price {
                            text-decoration: line-through;
                            padding-right: 10px;
                        }

                        .discount-price {
                            padding-left: 10px;
                        }

                        span {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }

                }

                &:hover {
                    cursor: pointer;

                    .product-info {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1, 1.1);
                    }
                }
            }
        }
    }
}

.filter-none {
    display: none !important;
}

.pagination {
    margin: 10px 0px;

    ul {
        li {
            margin: 0px 3px;

            a {
                font-size: 25px;
                border-radius: 10px;
                color: #000000;

                &:focus {
                    box-shadow: none;
                    background-color: #F1A634;

                }

                &:hover {
                    color: #000000;
                    background-color: #F1A634;
                }
            }
        }
    }
}