@{
    ViewData["Title"] = "Delete";
}

@model Service

<style>
    h2 {
        color: #F1A634;
        text-decoration: underline 2px;
    }

    p , span {
        font-size: 18px;
        font-weight: 600;
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-text"></i>Delete product</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Başlıq</h2>
                            <p>@Model.Title</p>
                        </div>
                        <div class="col-lg-6">
                            <h2>Icon</h2>
                            <p>@Html.Raw(Model.Icon)</p>
                        </div>
                        
                    </div>

                    <div class="row">
                        
                        
                        <div class="col-lg-6">
                            <h2>Duzəliş tarixi</h2>
                            @if (Model.UpdatedAt == null)
                            {
                                <span>Düzəliş edilməyib</span>
                            }

                            @if (Model.UpdatedAt != null)
                            {
                                <span>@Model.UpdatedAt</span>
                            }
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>