@{
    ViewData["Title"] = "Delete";
}

@model Brand

<style>
    h2 {
        color: #F1A634;
        text-decoration: underline 2px;
    }

    p , span {
        font-size: 18px;
        font-weight: 600;
    }
</style>

<div class="content-body">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"><i class="fas fa-text"></i>Delete product</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Ad</h2>
                            <p>@Model.Name</p>
                        </div>
                        <div class="col-lg-6">
                            <h2>Şəkil</h2>
                            <img width="100" src="~/uploads/brands/@Model?.Image" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Silinib?</h2>
                            @if (Model.IsDeleted == true)
                            {
                                <span>Silinib</span>
                            }

                            @if (Model.IsDeleted == false)
                            {
                                <span>Silinməyib</span>
                            }
                        </div>
                        <div class="col-lg-6">
                            <h2>Silinmə tarixi</h2>
                            @if (Model.DeletedAt == null)
                            {
                                <span>Silinməyib</span>
                            }

                            @if (Model.DeletedAt != null)
                            {
                                <span>@Model.DeletedAt</span>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Duzəliş tarixi</h2>
                            @if (Model.UpdatedAt == null)
                            {
                                <span>Düzəliş edilməyib</span>
                            }

                            @if (Model.UpdatedAt != null)
                            {
                                <span>@Model.UpdatedAt</span>
                            }
                        </div>
                        <div class="col-lg-6">
                            <h2>Link</h2>
                            <p>@Model.Link</p>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>